# Example .env for local development (do not use in production)
POSTGRES_DB=gonaj
POSTGRES_USER=gonajuser
POSTGRES_PASSWORD=gonajpass

DB_HOST=db
DB_PORT=5432

DJANGO_SECRET_KEY=change-me-locally
DJANGO_DEBUG=True
GDAL_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu/libgdal.so
